* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  
  html {
	scroll-behavior: smooth;
  }
  
  body {
	background: #FFF;
	font-family: 'Open Sans', sans-serif;
  }
  
  header {
	height: 10vh;
	/* background: #000; */
  }
  
  .black {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  }
  
  nav {
	padding-top: 20px;
	padding-bottom: 20px;
	top: 0;
	position: fixed;
	display: flex;
	width: 100%;
	z-index: 1000;
	background: #fff;
	justify-content: space-around;
	transition: 1.5s;
	align-items: center;
  }
  
  nav ul {
	display: flex;
	align-items: center;
  }
  
  nav ul li {
	list-style: none;
	margin: 5px 10px;
  }
  
  nav ul li a {
	padding: 2px 10px;
	color: #2e2e2e;
	cursor: pointer;
	transition:.5s;
	text-decoration: none;
  }
  
  