* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  
  html {
	scroll-behavior: smooth;
  }
  
  body {
	background: #FFF;
	font-family: 'Open Sans', sans-serif;
  }
  
  header {
	height: 10vh;
	/* background: #000; */
  }
  
  .black {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  }
  
  nav {
	padding-top: 20px;
	padding-bottom: 20px;
	top: 0;
	position: fixed;
	display: flex;
	width: 100%;
	z-index: 1000;
	background: #fff;
	justify-content: space-around;
	transition: 1.5s;
	align-items: center;
  }
  
  nav ul {
	display: flex;
	align-items: center;
  }
  
  nav ul li {
	list-style: none;
	margin: 5px 10px;
  }
  
  nav ul li a {
	padding: 2px 10px;
	color: #2e2e2e;
	cursor: pointer;
	transition:.5s;
	text-decoration: none;
  }
  
  img {
	width: 50%;
	display: block;
	margin: 0 auto; /* Center the image horizontally */
  }
  
  /* Custom fonts */
  h1, p {
	font-family: 'Roboto', sans-serif;
  }
  
  /* Main content section */
  #main-content {
	text-align: center;
	padding: 50px;
  }
  
  h1 {
	font-size: 36px;
	color: #333;
	margin-bottom: 20px;
  }
  
  p {
	font-size: 16px;
	color: #666;
	margin-bottom: 30px;
  }
  
  .watch-now-button {
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
  }
  
  .watch-now-button:hover {
	background-color: #0056b3;
  }